/* AddTodoForm.module.css */

.AddTodoFormContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.Form {
    display: flex;
    align-items: center;
}

.AddButton {
    margin-left: 8px;
    /* Add space between input and button */
}

