/* NavLayout.module.css */
.NavBar {
    width: 100%;
    background-color: white;
    /* Background color for the navbar */
    
    /* Text color for the links */
    padding: 24px 0;
    /* Add some padding for spacing */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        ;
}

.NavContainer {
    display: flex;
        /* Use flexbox */
        justify-content: flex-end;
        /* Align items to the far right */
        align-items: center;
        /* Center items vertically */
        max-width: 100%;
        /* Limit the container width */
        margin: 0 auto;
        /* Center the container horizontally */
       
}

.NavList {
    list-style-type: none;
    /* Remove bullet points for list items */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
} 

.NavItem {
    display: inline-block;
        /* Display list items in a row */
        margin-left: 20px;
        /* Add spacing between items */
}

.NavLink {
    text-decoration: none;
    /* Remove underline from links */
    color: black;
    /* Set the text color */
    font-size: 18px;
    /* Adjust the font size */
    margin: 0 24px;
    /* Add margin to create spacing between items */
}

.NavLink:hover {
    /* Style for hover effect */
    color: #00405B;
    /* Change color on hover */
}